.container {
    display: flex;
    margin: auto;
    border-radius: 5%;
    height: 50vh;
    width: 25vw;
    min-width: 25vw;
    min-height: 50vh;
    flex-direction: column;
    gap: 15px;
    justify-content: space-around;
    margin-bottom: 10%;
    background-color:#a6a8a15e;
}


.Img{
    border-radius: 10%;
    margin: auto;
    height: 90%;
    width: 90%;
    overflow: hidden;
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}