.container {
    display: flex;
    outline: red solid 3px;
    border-radius: 5%;
    height: 50vh;
    width: 40vw;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    margin-bottom: 25%;
}

.divInfo{
    outline: blue solid 3px;

}

.divImg{
    outline: orange solid 3px;
    display: flex;
    margin: auto;
    width: 80%;
    height: 80%;
}

.Img{
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}